---
updated: 2023-08-20T19:15
created: 2023-08-10T16:06
---
# My personal [[Zettlkasten]]

Tags: #readme

---

This is my personal knowledge base that I use to remember thing. that mi mind sees as bullshit, even thought it is of importance. 

Here you can find a dump of all my notes, that are however, connected thought a web of links, if you are interested in something specific just search for it you bozo.

Now future me and everyone else, go fuck yourself. Peace..obsidian/
